/* Universal Selector */
*{
    color: red;
    margin: 0;
    padding: 0;
}



/* tag selector/elementselector */
h1{
    color: blue;
    text-align: center;
}



/* attributes selector */
a[title="google"]{
    color: green;
}


#idselector{
    color: blue;
    font-size: 50px;
}


.classselector{
color: brown;
text-transform: capitalize;
font-size: 20px;
text-indent: 50px;
}


/* Descendment selector */
.desc a{
    color: green;
}


/* Childselector */

.child > a{
    color: blue;
}
span{
    color: rgb(6, 222, 129);
}

/* Pseudo class selector */


















/* border */

.borderOne{
    border: 5px solid black;
}

.borderTwo{
    border: 5px dashed blue;
}
.borderThree{
    border: 5px dotted ;
    border-width: 5px 10px 15px 20px;
    border-color: red blue green yellow;
}

.borderFour{
    border: 5px double rgb(6, 222, 129);
    border-radius: 20px;
    border-color: rgb(153, 95, 24) rgb(6, 222, 129) rgb(153, 95, 24) rgb(93, 22, 201); 
}


.paddingOne{
    border: 2px solid rgb(6, 222, 129);
    padding: 5px 10px 15px 20px;
}




/* Inline Layout */

.incline{
    border: 2px solid black;
    width: 500px;
    display: inline-block;
}

.block{
    border: 2px solid black;
    width: 500px;
    display: inline-block;
}




.inline-block-container{
    border: 2px solid black;
    width: 500px;

}